/***************************************************************
*	Change color while dragging
***************************************************************/
::-moz-selection { /* Code for Firefox */
	color: white;
    background: #FFAD38;
}

::selection {
	color: white;
    background: #FFAD38;
}

/***************************************************************
*	Basic css
***************************************************************/
html, body {
  height: 100%;
}


#footer {
  margin-bottom: 30px;
  padding-bottom: 30px;
} 


body { 
	padding-top: 148px; 
	padding-bottom: 150px;
	font-family: 'Oswald', sans-serif;
	color: #4e4e4e;
}


.text-color-orange {
	color: #FFAD38;
}

.text-color-orange:hover {
	color: #eea236;
}

/***************************************************************
*	Spacing in common area
***************************************************************/
div.top-padding {
	margin-top: 50px;
}

p.top-padding {
	margin-top: 20px;
}


/***************************************************************
*	Home page (Carousel Slide) - maximize image size  
* 	width: 1140;
***************************************************************/
.carousel img {
    min-width: 100%;
}


.content-center {
	text-align: center;
}


/***************************************************************
*	Font Awesome icon color
***************************************************************/
.fa {
  color: #4e4e4e;
}

.fa:hover {
  color: #FFAD38;
}


/***************************************************************
*	Line divider
***************************************************************/
.line-separator {
	height: 1px;
	width: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
	border-bottom: 1px solid #FFAD38;
}




/***************************************************************
*	image size
***************************************************************/
.fit_img {
	max-width: 3000px;
	max-height: 2000px;
}

.img_column {
	width: 350px;
	height: 500px;
}

.img_square {
	width: 400px;
	height: 550px;
}

.img_row {
	width: 100%;
}


@media screen and (max-width: 762px;) {
	.img_adult_group {
		width: 350px;
		height: 250px;	
	}		
}
.img_adult_group {
	width: 100%;
	height: 250px;	
}

#announce img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/***************************************************************
*	table border
***************************************************************/
table, th, td {
    border: 1px solid black;
}









