{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content_a %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Login</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-warning' type="submit" value="{% trans 'Submit' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

</div>
<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<a href="{% url 'registration_register' %}" class="btn btn-warning pull-right" role="button">Register</a>  
<a href="{% url 'auth_password_reset' %}" class="btn btn-danger pull-right" role="button">Forget Password?</a>  
<!-- <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}" style="color:#FFAD38;">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}" style="color:#FFAD38;">{% trans "Register" %}</a>!</p>
 --></div>
</div>

{% endblock %}
