{% extends 'base.html' %}
{% load staticfiles %}



{% block head_title %} JOYS | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'comm_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		<p>
			<img src="{% static 'img/community/joys2018_wide.jpg' %}" class="img_row" /> 
			<div class="line-separator"></div>
			<h4>청년 1부</h4>
			<h4>JOYS / Jesus On Your Side</h4>
			<div class="line-separator"></div>

			“누구든지 그의 말씀을 지키는 자는<br/>
			하나님의 사랑이 참으로 그 속에서 온전하게 되었나니<br/>
			이로써 우리가 그의 안에 있는 줄을 아노라<br/>
			그의 안에 산다고 하는 자는<br/>
			그가 행하시는 대로 자기도 행할지니라”<br/>
			– 요일 1:5-6<br/><br/>
			 
			조이스 청년부는 갈릴리교회의 대학부 부터 30세 이하로 이루어져 있으며, 하나님을 바로 알고 그분의 기쁨이 되며 부르심의 소망을 깨닫고자 오직 말씀을 붙들고 나아가는 공동체입니다.<br/><br/>
			
			조이스 청년부 임원 <br/><br/>

			회장: 황현조 <br/>

			서기: 박승희 (WITHIM 청년 2부) <br/>

			총무: 김성은 <br/><br/>
			
			새가족 팀장: 한단비 <br/><br/>

			조이스 청년부 목장<br/><br/>

			인도 / 이지수 목자<br/>
			 
			케냐 / 황형조 목자<br/>
			 
			키르키즈스탄 / 김혜정 목자<br/>
			 
			이탈리아 / 홍애진 목자<br/>

			프랑스 / 이도해 목자<br/>

			캐나다 / 김금희 목자 <br/>

			이스라엘 / Brian 목자 <br/>

			

		</p>
		<br/>

	</div>
</div>
{% endblock %}