{% extends 'base.html' %}
{% load staticfiles %}


{% block head_title %} 파워 Gen | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        {% include 'comm_sidebar.html' %}
    </div>

    <div class="col-xs-12 col-sm-9">
        <p>
            <img class="img_row" src="{% static 'img/community/power_2.jpg' %}"/>
        <div class="line-separator"></div>
        <h4>파워 Gen </h4>
        <div class="line-separator"></div>
        <b>■ 2020년 표어</b><br/>
        나는 하나님의 자녀! We’re history makers!<br/><br/>

        <b>■ 주제성경</b><br/>
        예수님은 지혜와 키가 더욱 자랐고, 하나님과 사람들로부터 사랑을 받았습니다(눅2:52, 쉬운성경)
        ...Jesus increased in wisdom and in stature and in favor with God and man(Luke 2:52, ESV)<br/><br/>

        <b>■ 목표</b><br/>
        갈릴리 파워젠은 유초등부 아이들로 하여금 하나님의 자녀 됨을 인식하며 하나님의 꿈과 역사를 만들어가는 자녀로 살아가게 하는 것을 목표로 합니다. <br/><br/>

        <b>■ 모임시간</b><br/>
        1. 주일예배: 주일 오후 1:30-3:00 (3층 파워젠룸)<br/>
        2. 교사모임: 매주 주일 오후 1:15-1:25 (3층 파워젠룸)<br/>
        3. 월 례 회: 매월 4째 주일 오후 3:30-4:30 (3층 회의실) <br/><br/>

        <b>■ 행정조직</b><br/>
        교 육: 문재은 전도사<br/>
        총 무: 정현진<br/>
        회 계: 최지은<br/>
        찬양팀: 이도해<br/>
        반 주: 정혜원<br/>
        미디어: 강소형<br/>
        Sparks(K-G3): 정혜원, 이도해, 최지은, 김주영<br/>
        T & T(G4-6): 이재희, 강소형, 맹봉규, 정현진<br/><br/>

        <b>어와나(AWANA)란?</b><br/>
        “부끄러울 것이 없는 인정된 일꾼”(Approved Workmen Are Not Ashamed)이라는 뜻으로 영어성경의 디모데후서 2:15 말씀의 첫 글자에서 따온 이름입니다. <br/>
        어와나는 1950 년대에 시작되어 전세계 108 개국에서 실시하고 있으며, 복음중심, 성경암송, 신나는 게임을 통해 창의적이고 흥미로운 방법으로 복음을 전달하고 예수그리스도를 섬기도록 훈련하는
        사역입니다. <br/>
        갈릴리 Power-Gen 은 5 세 부터 11 세까지의 아이들과 함께 어와나를 바탕으로 주일예배를 드리고 있으며, 모든 과정은 한국어로 진행됩니다.<br/>
        Power-Gen. 은 아이들의 한국어 사용을 권장하고 있으며, 체계적인 한글교육을 위해 한글학교가 개설되어 있습니다. <br/><br/>

        ** Power-Gen. / AWANA Club ** <br/><br/>
        -대 상:5~11세(K-Gr.6)<br/>
        -모 임: 매 주일 오후 1:30-3:00, 갈릴리교회 3 층, 파워젠룸 <br/>
        -구 성:스팍스(Sparks):Kinder~Gr.2(5-7세) <br/>
        T & T(Truth and Training): Gr.3-6 (8-11 세) <br/>
        -내 용:게임(30분):4개팀간협동게임 <br/>
        예배(30 분): Large Group - 율동찬양, 말씀, 기도, 헌금, 시상 및 광고 <br/>
        그룹(30 분): Small Group - 성경암송, 성경공부 및 간식<br/><br/>


        </p>
        <br/>

    </div>
</div>
{% endblock %}
