{% extends 'base.html' %}
{% load staticfiles %}



{% block head_title %} Adult | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'comm_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		<p>
			<img src="{% static 'img/community/adult.jpg' %}" class="img_row" /> 
			<div class="line-separator"></div>
			<h4>장년부</h4>
			<div class="line-separator"></div>

			<p>
			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/dong.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						동티모르 (황대근 / 정영혜) <br/>
						
						<div class="line-separator"></div>
						인도네시아 티모르섬의 동부에 위치, 인도네시아 통치하에 있다가 1999년에 독립, 국민소득 1,000불
						이하, 목원 수 6명의 작은 나라 작은 목장. 매월 1, 3주 금요일 저녁에 모입니다. <br/>
						<div class="line-separator"></div>
					</p>
				</div>


				<div class="col-sm-6"> 
					<img src="{% static 'img/community/mol.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						몰디브 (허용범 / 신미경) <br/>
						
						<div class="line-separator"></div>
						인구/38.6만, $3000/인당 국민소득, 대통령중심 독재채재를 유지하고 있는 수니파가 장악한 이슬람나라.
						매월 1, 3주에 모임을 갖습니다. <br/>
						<div class="line-separator"></div>
					</p>
				</div>
			</div>
			<br/>

			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/young.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						영국 (김원용 / 이경민) <br/>
						
						<div class="line-separator"></div>
						우리 안에 성령의 회복을 꿈꾸며…<br/>
						매월 2,4주 주일 모임이 있습니다. <br/>
						<div class="line-separator"></div>
					</p>
				</div>
			

				<div class="col-sm-6"> 
					<img src="{% static 'img/community/se.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						스리랑카 (최현범 / 김윤희A)<br/>
						
						<div class="line-separator"></div>
						구별되어진 하나님의 사람들, 젊은 신혼부부들과 아이들과 함께 합니다<br/>
						매월 3주 토요일에 모입니다. <br/>
						<div class="line-separator"></div>
					</p>
				</div>

			</div>


			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/spain.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						스페인 (김영원 / 홍현승) <br/>
						
						<div class="line-separator"></div>
						어머~~스페인 입니다 .(^^)<br/>
						매월 1주 목요일 저녁 6시에 목장모임 합니다.(^^) <br/>
						<div class="line-separator"></div>
					</p>
				</div>
			

				<div class="col-sm-6"> 
					<img src="{% static 'img/community/china.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						중국 (김정기 / 곽명화)<br/>
						
						<div class="line-separator"></div>
						넓은 대륙을 품는 중국목장-갈릴리 파송 김기연 선교사를 후원하고 있습니다.<br/>
						매월 1, 3주 금요일 저녁에 목장 모임합니다. <br/>
						<div class="line-separator"></div>
					</p>
				</div>

			</div>

			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/laos.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						라오스 (장중혁 / 노경애) <br/>
						
						<div class="line-separator"></div>
						하나님의 은혜라는 뜻의 라오스~~ <br/>
						매월 1주 금요일 저녁, 3주 주일 저녁에 모입니다. <br/>
						<div class="line-separator"></div>
					</p>
				</div>
			

				<div class="col-sm-6"> 
					<img src="{% static 'img/community/singapore.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						싱가폴 (김종욱 / 김윤희B)<br/>
						
						<div class="line-separator"></div>
						싱글벙글 웃음 가득한 사랑이 폴폴 피어오르는 목장…싱가폴 목장<br/>
						매월 1주 주일 예배 후 맥도날드, 3주 토요일 5시 목자집에서 모임을 갖습니다.<br/>
						<div class="line-separator"></div>
					</p>
				</div>

			</div>


			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/turkey.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						터키 (남충현 / 남애경) <br/>
						
						<div class="line-separator"></div>
						노아의 아라랏산, 아브라함의 여정지 하란, 소아시아의 7대 교회가 있는, 사도바울의 전도 여행지…<br/>
						그러나 지금은 이슬람이 그들의 정체성이 된 곳, 터키…<br/>
						<div class="line-separator"></div>
					</p>
				</div>
			
			<!-- More groups coming here -->
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/parkdh.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						터키 (남충현 / 남애경) <br/>
						
						<div class="line-separator"></div>
						노아의 아라랏산, 아브라함의 여정지 하란, 소아시아의 7대 교회가 있는, 사도바울의 전도 여행지…<br/>
						그러나 지금은 이슬람이 그들의 정체성이 된 곳, 터키…<br/>
						<div class="line-separator"></div>
					</p>
				</div>


			</div>



		</p>

		</p>
		<br/>

	</div>
</div>
{% endblock %}