{% extends 'base.html' %}
{% load staticfiles %}



{% block head_title %} 장년목장 | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'comm_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		<p>
			<img src="{% static 'img/community/comm_adult.jpg' %}" class="img_row" /> 
			<div class="line-separator"></div>
			<h4>장년목장</h4>
			<div class="line-separator"></div>

			<p>
			
			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_1_1.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						영국 (김원용 / 이경민) <br/>
						
						<div class="line-separator"></div>
						<!--
						우리 안에 성령의 회복을 꿈꾸며…<br/>
						매월 2,4주 주일 모임이 있습니다. <br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>
			

				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_1_2.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						몽골 (황용상 / 신민경)<br/>
						
						<div class="line-separator"></div>
						<!--
						구별되어진 하나님의 사람들, 젊은 신혼부부들과 아이들과 함께 합니다<br/>
						매월 3주 토요일에 모입니다. <br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>

			</div>


			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_2_1.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						스페인 (김영원 / 홍현승) <br/>
						
						<div class="line-separator"></div>
						<!--
						어머~~스페인 입니다 .(^^)<br/>
						매월 1주 목요일 저녁 6시에 목장모임 합니다.(^^) <br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>
			

				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_2_2.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						중국 (김정기 / 곽명화)<br/>
						
						<div class="line-separator"></div>
						<!--
						넓은 대륙을 품는 중국목장-갈릴리 파송 김기연 선교사를 후원하고 있습니다.<br/>
						매월 1, 3주 금요일 저녁에 목장 모임합니다. <br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>

			</div>



			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_4_1.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						일본 (박도현 / 김진하) <br/>
						
						<div class="line-separator"></div>
						<!--
						노아의 아라랏산, 아브라함의 여정지 하란, 소아시아의 7대 교회가 있는, 사도바울의 전도 여행지…<br/>
						그러나 지금은 이슬람이 그들의 정체성이 된 곳, 터키…<br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>
			
			
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_4_2.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						에디오피아 (최종현 / 김미영)<br/>
						
						<div class="line-separator"></div>
						<!--
						싱글벙글 웃음 가득한 사랑이 폴폴 피어오르는 목장…싱가폴 목장<br/>
						매월 1주 주일 예배 후 맥도날드, 3주 토요일 5시 목자집에서 모임을 갖습니다.<br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>


			</div>

			
			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_6_1.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						UN (손성철 / 하향정) <br/>
						
						<div class="line-separator"></div>
						<!--
						노아의 아라랏산, 아브라함의 여정지 하란, 소아시아의 7대 교회가 있는, 사도바울의 전도 여행지…<br/>
						그러나 지금은 이슬람이 그들의 정체성이 된 곳, 터키…<br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>
			
			
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_6_2.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						한국 (조명준 / 오슬기)<br/>
						
						<div class="line-separator"></div>
						<!--
						싱글벙글 웃음 가득한 사랑이 폴폴 피어오르는 목장…싱가폴 목장<br/>
						매월 1주 주일 예배 후 맥도날드, 3주 토요일 5시 목자집에서 모임을 갖습니다.<br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>


			</div>
			
			
			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_7_1.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						미얀마 (허준 / 김태은) <br/>
						
						<div class="line-separator"></div>
						<!--
						노아의 아라랏산, 아브라함의 여정지 하란, 소아시아의 7대 교회가 있는, 사도바울의 전도 여행지…<br/>
						그러나 지금은 이슬람이 그들의 정체성이 된 곳, 터키…<br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>
			
				
				<div class="col-sm-6"> 

					<img src="{% static 'img/community/2018_adult_5_2.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						스웨덴 (김현용 / 손혜경)<br/>
						
						<div class="line-separator"></div>
						<!--
						싱글벙글 웃음 가득한 사랑이 폴폴 피어오르는 목장…싱가폴 목장<br/>
						매월 1주 주일 예배 후 맥도날드, 3주 토요일 5시 목자집에서 모임을 갖습니다.<br/>
						<div class="line-separator"></div>
						-->
					</p>
					
				</div>
			

			</div>

			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_8_1.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						아르메니아 (황대연 / 김유진) <br/>
						
						<div class="line-separator"></div>
						<!--
						노아의 아라랏산, 아브라함의 여정지 하란, 소아시아의 7대 교회가 있는, 사도바울의 전도 여행지…<br/>
						그러나 지금은 이슬람이 그들의 정체성이 된 곳, 터키…<br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>
			
				
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_8_2.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						 체코 (한우석 / 김은정)<br/>
						
						<div class="line-separator"></div>
						
						
						
					</p>
				</div>
			

			</div>

						<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_9_1.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						폴란드 (남충현 / 남애경) <br/>
						
						<div class="line-separator"></div>
						<!--
						노아의 아라랏산, 아브라함의 여정지 하란, 소아시아의 7대 교회가 있는, 사도바울의 전도 여행지…<br/>
						그러나 지금은 이슬람이 그들의 정체성이 된 곳, 터키…<br/>
						<div class="line-separator"></div>
						-->
					</p>
				</div>
			
				
				<div class="col-sm-6"> 
					<img src="{% static 'img/community/2018_adult_9_2.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						 스리랑카 (최현범 / 김윤희)<br/>
						
						<div class="line-separator"></div>
						
						
						
					</p>
				</div>
			

			</div>



			<div class="row">

				<div class="col-sm-6"> 
				
					<img src="{% static 'img/community/2018_adult_7_2.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						우간다 (송성 / 송미령)<br/>
						
						<div class="line-separator"></div>
						
						
						
					</p>
				</div>			

				<div class="col-sm-6"> 
					<img src="{% static 'img/community/singapore_3.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						싱가폴 (양희복/ 원미정)<br/>
						
						<div class="line-separator"></div>
						
						
						
					</p>
				</div>

			</div>
			

			<div class="row">

				<div class="col-sm-6"> 
				
					<img src="{% static 'img/community/north_korea_13.jpg' %}" class="img_adult_group"/>
					<br/>
					<p>
						<br/>
						북한 (박평화 / 김은경)<br/>
						
						<div class="line-separator"></div>
						
						
						
					</p>
				</div>			

				<div class="col-sm-6"> 
					
				</div>

			</div>
		</p>

		</p>
		<br/>

	</div>
</div>
{% endblock %}