{% extends 'base.html' %}
{% load staticfiles %}



{% block head_title %} 드림 Gen | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'comm_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		<p>
			<img src="{% static 'img/community/dream.jpg' %}" class="img_row" /> 
			<div class="line-separator"></div>
			<h4>드림 Gen </h4>
			<div class="line-separator"></div>
			

			■ 주제 성경: <br/>
    		군사로 복무하는 자는 자기 생활에 얽매이는 자가 하나도 없나니 이는 군사로 모집한 자를 기쁘게 하려 함이라(딤후 2:4) <br/>
    		No one serving as a soldier gets involved in civilian affairs--he wants to please his commanding officer<br/><br/>

    		■ 신앙목표: 영광(GLORY)<br/>
			1. G Generation – 하나님의 세대를 세워가는 youth!<br/>
			2. L Love one another - 서로 사랑하는 youth!<br/>
			3. O Offer prayers - 항상 기도하는 youth!<br/>
			4. R Reading the Bible - 날마다 성경을 읽는 youth!<br/>
			5. Y Yes, My Lord - 예, 주님 ! 하고 순종하는 youth!<br/><br/>

			■ 교육 목적<br/>
			1. 지성(Intellect)과 영성(Spirituality)을 갖춘 youth되기(배우미)<br/>
			2. 학교와 가정에서 복음의 영향력(leadership)을 끼치는 youth되기(섬기미)<br/>
			3. 열방을 향해 하나님의 사랑을 전하는(evangelize) youth되기(알리미)<br/><br/>

			■ 교육 목표<br/>
			1. 하나님의 자녀임을 인식하고 권세를 누리며 살아가기(요 1:12)<br/>
			2. 하나님의 자녀됨의 확신을 통한 생명력 있는 영적예배 회복(롬12:1)<br/>
			3. 구원 얻은 백성으로서의 공동체성의 회복(빌2:2-3)<br/>
			4. 성령의 충만함으로 생동감 있는 youth 공동체 지향(행 4:31)<br/>
			5. 말씀과 기도로 훈련된 인재의 양성(딤전 4:5)<br/>
			6. 교회 공동체와 세상에서 영성 있는 섬김의 회복(빌 2:3, 계 2:19)<br/>
			7. 세상문화 속에서 기독교 세계관의 확립(롬12:2,히 10:38)<br/>
			 
			
		</p>
		<br/>

	</div>
</div>
{% endblock %}