{% extends 'base.html' %}
{% load staticfiles %}


{% block head_title %} Withim | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        {% include 'comm_sidebar.html' %}
    </div>

    <div class="col-xs-12 col-sm-9">
        <p>
            <img class="img_row" src="{% static 'img/community/withim2018.jpg' %}"/>
        <div class="line-separator"></div>
        <h4>청년 2팀</h4>
        <h4>WITHIM 싱글목장</h4>
        <div class="line-separator"></div>

        <b>WITHIM</b><br/>
        너희는 이 세대를 본받지 말고 오직 <br/>
        마음을 새롭게 함으로 변화를 받아 <br/>
        하나님의 선하시고 기뻐하시고 <br/>
        온전하신 뜻이 무엇인지 분별하도록 하라<br/>
        – 롬12:2<br/><br/>

갈릴리 교회 위딤 공동체는 거룩한 영향력으로 교회를 부흥시키고 청년 1부와 장년부를 이어주는 징검다리로서의 역할을 감당하고 있습니다.<br/>
갈릴리교회의 31세 이상 청년들로 구성되어 있으며, 이름처럼 하나님과 함께 동행하며 말씀 가운데 우리의 행실과 삶이 ‘신행일치’ 하고자 함께 세워가는 공동체입니다.<br/><br/>


		<b>위딤 목장</b><br/><br/>

		니카라과 / 권영신 목자<br/>
		콩고 / 박혜민 목자<br/>
		소말리아 / 배미숙 목자<br/>
		나이지리아 / 손호연 목자<br/>
		브라질 / 신정원 목자<br/>
		남수단 / 양선희 목자<br/>
		리비아 / 이나경 목자<br/>
		미국 / 정현진 목자<br/>
		사모아 / 황지혜 목자<br/>


        </p>
        <br/>

    </div>
</div>
{% endblock %}