{% extends 'base.html' %}
{% load staticfiles %}


{% block head_title %} 새싹 Gen | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'comm_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		<p>
			<img src="{% static 'img/community/awana_01.jpg' %}" class="img_row" /> 
			<div class="line-separator"></div>
			<h4>새싹 Gen (영유아부)</h4>
			<div class="line-separator"></div>
			
			<b>■ 목적</b><br/>
			하나님의 자녀로서 건강한 어린이로 자라게 하기 위해서 하나님의 말씀을 재미있게 접하고 예수님을 만날 수 있도록 도와줍니다. <br/>예수 그리스도를 통해 구원에 이르는 지혜를 얻게 하고, 선한 일을 행하며 온전한 하나님의 사람으로 세우는 것입니다. <br/><br/>

			<b>■ 목표</b><br/>
			1. 유아기에 예배를 통해 하나님을 배우고<br/>
			2. 말씀으로 예수님의 사랑을 알고<br/>
			3. 오감으로 성령님을 느끼며 자라게 합니다. <br/><br/>

			<b>■ 교육 내용</b><br/>
			1. 찬양과 기도, 말씀이 조화를 이루어 영아들에게 예수님과 사랑을 심어줍니다.<br/>
			2. 2부 순서를 통해 영유아의 오감을 발달시키고 입체적인 성경 교육이 이뤄지도록 합니다.<br/>
			3. 영아들과 부모님들이 함께 예배드리고 함께 성장하도록 유도합니다. <br/>
			4. 부모 기도회를 통해 가정과 자녀를 세워 갑니다.  <br/><br/>

			<b>■ 영유아부 사역소개</b><br/>
			1. 예배와 기도 <br/>
			   1) 영유아의 눈높이에 맞춘 성경 교육을 통해 복음을 알게 하며, 오감을 발달시키는 다양한 2부 활동을 통해 정서적 발달을 갖습니다.<br/><br/>
			  
			2. 가정과의 연계교육<br/>
			   1) 부모 교육을 통한 부모 신앙훈련 및 유아 나눔<br/>
			   2) 말씀심기(성경읽기 프로그램 및 영유아 Q.T)<br/>   
			   3) 어머니 기도회 <br/><br/>

			3. 밥 한 끼 심방사역<br/>
			   육아에 지친 어머니들을 찾아 말씀과 기도를 나누는 심방을 합니다.<br/> 그리고 한 끼 식사를 준비하여 찾아가 섬기는 밥 한 끼 심방사역을 합니다.<br/><br/>

		</p>
		<br/>

	</div>
</div>
{% endblock %}
