{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block head_title %} {{ title }} | {{ block.super }} {% endblock %}

{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		
	</div>

	<div class="col-xs-12 col-sm-9" >
		<h2 >“사랑합니다”</h2><br/>
		<h3 > 
		2016 갈릴리 사진 및 UCC 공모전<br/> <br/>
		이번 공모전은 갈릴리 교회 예배에 사랑이 넘치길 원하시는 주께서, <br/>
		성도 한 분 한 분, 한 가정 한 가정, <br/>
		어느 그룹이던 어느 개인이던 그 분께서는 항상 넘치도록 사랑을 부어 주십니다. <br/>
		가정 안에서, 내 이웃 간에 혹은 나 자신이 살아가면서 받은 사랑 또는 주는 사랑을 얼마나 실천하며 살고 있는지, <br/>
		그 사랑을 인지하고는 있는지를 알 수 있는 좋은 계기라 생각하며 과거가 아닌 현재 시점에서의 <br/>
		사랑 이야기를 풀러내는 아름다운 교회가 되길 바라면서 추친하게 되었습니다.<br/><br/>
		- 공모주제 : 사랑과 관련된 모든 주제<br/>
		- 공모기간 : 2016 년 6 월 20 일(월) ~ 8 월 20 일(토)<br/>
		- 수상자발표 : 2016 년 9 월 5 일(월) / 교회 홈페이지 및 교회 Facebook<br/>
		- 시상식 : 2016 년 9 월 11 일(일) / 교회<br/>
		- 문의 : 교회 사진반 “LOG” / 허용범(604-765-0623), 이수경(778-987-0816)
		</h3>
		<br/><br/>
		<h3>
		< 공모요강 ><br/><br/>
		1)목적<br/>
		: 전교인의 화합이 교회와 하나되어 서로 사랑하며 지내라는 새계명을 이루고자 함.<br/><br/>
		2) 공모주제 : 사랑과 관련된 모든 주제<br/>
		 - 주제 요강 : 사랑하는 사람들, 사랑 받는 사람들, 사랑이 필요한 사람들 혹은 나 자신<br/>
		 - 세부주제<br/>
		 . 가족의 사랑이 담겨 있는 모습을 소재로한 사진 혹은 UCC<br/>
		 .목장식구와의 끈끈한 우애의 모습들을 소재로한 사진 혹은 UCC<br/>
		 .힘든 상황에서도 잘 견뎌내는 자신을 사랑하는 모습을 소재로한 사진 혹은 UCC<br/>
		 .선교지에서 팀으로 활동하며 우애를 나누는 모습을 소재로한 사진 혹은 UCC 등.<br/><br/>
		 3)공모기간: : 2016 년 6 월 20 일(월) ~ 8 월 20 일(토)<br/><br/>
		 4)공모분야<br/>
		 ; 모든 제출 작품에는 부제가 있어야 하며, 작품에 합성이 있는 경우 수상권이 취소 됩니다. <br/>
		- UCC(User Created Contents); 제출서류 및 원본 파일<br/>
		a)규 격 : 200MB 이내(100 초 내외, 1 분 이상 ~ 2 분 이내)<br/>
		b)해상도 : 720 * 480 pixel 이내<br/>
		c)파일형태 :avi, wmv, mpeg, mp4 등 동영상 파일(플래시 포함)<br/><br/>
		- 사진; 제출서류 및 원본 파일<br/>
		a)용량 : 10M Byte 이내(3000x2000 pixel 이상)<br/>
		b)휴대폰 사진 촬영 가능(Letter size 출력 가능해야함)<br/>
		c)출품매수 : 3 점 이내(단, 스토리 사진 경우 내용(80 자 이내) 필수..5 점 이내 가능)<br/>
		d)파일형태 : jpg 파일<br/>
		e)작품규격 : 흑백 또는 컬러 사진<br/>
		f)입상자는 추후 공모전 제출 파일과 원본 파일을 제출해야하며,<br/>
		원본 파일을 보정하였을 경우 보정한 내용을 같이 제출하여야 함.<br/><br/>
		 5)응모자격 : 갈릴리 교인 대상<br/>
		 개인 혹은 팀으로 지원(목장 식구들과 함께 등)<br/><br/>
		6)응모방법 : 제출자 이름, 주소, 전화번호, 작품 제목 기재(스토리 작품은 내용 포함요)<br/>
		 On-Line(mail : heosblue@gmail.com) (단, UCC 는 USB 혹은 CD 에 담아 제출요)<br/>
		 교회 Home page upload(test 중)<br/><br/>
		7)심사발표 : 2016 년 9 월 5 일(월) / 교회 홈페이지 및 교회 Facebook<br/><br/>
		8)시상식 : 2016 년 9 월 11 일(일) / 교회<br/><br/>
		9)심사기준 : 창의성, 독창성, 메시지 전달의 명확성<br/><br/>
		10)심사위원 : 심사 위원장(사진반 LOG 대표) : 1 명,<br/>
		 위원 : 장년 대표, 청년 대표, Youth 대표, 사역자 대표, 사진반 대표(각 1 명씩) : 5 명<br/>
		 총 6 명<br/><br/>
		11) 시상<br/>
		<table style="width:100%">
			<tr>
				<th>부문</th>
				<th>구분 (개인 및 팀)</th>
				<th>내역</th>
			</tr>
			<tr>
				<td>사진 (10 명)</td>
				<td>최우수(1 명)</td>
				<td>상장 및 부상</td>
			</tr>
			<tr>
				<td></td>
				<td>우수(1 명)</td>
				<td>상장 및 부상</td>
			</tr>
			<tr>
				<td></td>
				<td>장려(1 명)</td>
				<td>상장 및 부상</td>
			</tr>
			<tr>
				<td></td>
				<td>특선 (장년 1 명,청년 1 명)</td>
				<td>상장 및 부상</td>
			</tr>
			<tr>
				<td></td>
				<td>입선 (장년 2 명,청년 2 명)</td>
				<td>상장</td>
			</tr>
		</table>
		<br/><br/>

		12) 유의 사항<br/>
		.작품 수 및 작품 품질 등의 사유로 수상 인원은 변동될 수 있습니다.<br/>
		.불건전 또는 공모전 성격과 맞지 않는 작품의 경우 삭제될 수 있습니다.<br/>
		.제출된 작품은 반환되지 않으며, 출품작은 수정이나 삭제가 불가합니다.<br/>
		.응모작의 저작권은 출품자에게 있으며, 당선작의 저작 재산권은 교회에 귀속됩니다.<br/>
		.작품 응모시 응모자 정보를 부정확하게 기재하거나, 공모전 작품 규격을 준수하지 않은 경우<br/>
		심사대상에서 제외 될 수 있습니다.<br/><br/>
		13) 전시회<br/>
		: 시상식이 있는 날에 모든 당선작품을 전시한다.<br/><br/>
		.주최 : 갈릴리 교회<br/>
		.주관 : Log(Lights of Grace) 사진<br/>
		</h3>
	</div>
</div>


{% endblock %}