{% extends 'base.html' %}
{% load staticfiles %}



{% block head_title %} Rearing | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'mini_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		<p>
			<img src="{% static 'img/ministries/rearing.jpg' %}" class="img_row" /> 
			<div class="line-separator"></div>
			<h4>양육부</h4>
			<div class="line-separator"></div>
			담당교역자를 도와 교회학교 전반적인 사역을 담당한다.<br/><br/>
			 
			(1) 어와나팀: 주일학교 어와나 조직, 계획 및 운영<br/><br/>
			 
			(2) 유스팀: 중고등부 조직, 계획 및 운영<br/><br/>
			 
			(3) 청년1팀: 청년1부 조직, 계획 및 운영<br/><br/>
			 
			(4) 청년2팀: 청년2부 조직, 계획 및 운영<br/><br/>
			 
			(5) 제자훈련팀: 교회 제자훈련 과정 모집 및 운영<br/><br/>
			 
			(6) 한글교육팀: 주일학교 한글학교 조직 및 운영<br/><br/>

		</p>
		<br/>

	</div>
</div>
{% endblock %}