{% extends 'base.html' %}
{% load staticfiles %}



{% block head_title %} 청년부 | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'mini_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		<p>
			<img src="{% static 'img/ministries/youngadults_w.jpg' %}" class="img_row" /> 
			<div class="line-separator"></div>
			<h4>청년부</h4>
			<div class="line-separator"></div>
			 
			(1) 역할: 청년(40세 미만)에 관한 전반적인 사역을 담당한다.<br/><br/>
 
			(2) 팀사역<br/>
			- 청년1팀: 30세 미만 싱글 조직, 계획 및 운영<br/>
			- 청년2팀: 40세 미만 싱글 조직, 계획 및 운영<br/><br/>

			(3) 중점사역<br/>
			- 청년 훈련 기획<br/>
			- 캠퍼스 사역 지원<br/>
			- 청년 연합 모임 및 행사 후원 및 참석<br/><br/>
			
		</p>
		<br/>

	</div>
</div>
{% endblock %}