{% extends 'base.html' %}
{% load staticfiles %}



{% block head_title %} 양육부 | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'mini_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		<p>
			<img src="{% static 'img/ministries/rearing_w.jpg' %}" class="img_row" /> 
			<div class="line-separator"></div>
			<h4>양육부</h4>
			<div class="line-separator"></div>
						 
			교육 및 선교에 관한 전반적인 사역을 담당한다.<br/><br/>
 				
			(1) 새싹젠팀: 영유아 조직, 계획 및 운영<br/>
			(2) 파워젠팀: 초등학생 조직, 계획 및 운영<br/>
			(3) 드림젠팀: 유스 조직, 계획 및 운영<br/>
			(4) 제자훈련팀: 교회 제자훈련 과정 모집 및 운영<br/>
			(5) 온누리팀: 온누리과정 모집 및 운영<br/>
			(6) 선교팀: 원주민 및 해외 선교사역 및 선교사 후원 및 홍보<br/><br/>


		</p>
		<br/>

	</div>
</div>
{% endblock %}