{% extends 'base.html' %}
{% load staticfiles %}



{% block head_title %} 재정부 | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'mini_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		<p>
			<img src="{% static 'img/ministries/finance.jpg' %}" class="img_row" /> 
			<div class="line-separator"></div>
			<h4>재정부</h4>
			<div class="line-separator"></div>
						 
			(1) 역할: 교회 재정(입금, 출금) 관한 전반적인 사역을 담당한다.<br/><br/>
 
			(2) 팀사역<br/>
			- 입금팀: 헌금 입금<br/>
			- 지출팀: 예산 지출<br/><br/>

			(3) 중점사역<br/>
			- 교회 회계 가이드 라인 마련<br/>
			- 전문 평신도 사역자 양육<br/>
			- 헌금위원 구성 및 운영<br/>
			- 각종 비품 구입 및 관리<br/>
			- 전문화 구축<br/>
			- 각 종 장비 보강 방안 및 관리 방안<br/><br/>
		</p>
		<br/>

	</div>
</div>
{% endblock %}
