{% extends 'base.html' %}
{% load staticfiles %}



{% block head_title %} 양육부 | {{ block.super }} {% endblock %}
{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'mini_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		<p>
			<img src="{% static 'img/ministries/rearing.jpg' %}" class="img_row" /> 
			<div class="line-separator"></div>
			<h4>양육부</h4>
			<div class="line-separator"></div>
						 
			(1) 역할: 담당교역자를 도와 교회학교 전반적인 사역을 담당한다.<br/><br/>
 
			(2) 팀사역<br/>
			- 새싹 / 파워 Gen 팀: 주일학교 조직, 계획 및 운영<br/>
			- 드림 Gen 팀: 중고등부 조직, 계획 및 운영<br/>
			- 한글교육팀: 주일학교 한글학교 조직 및 운영<br/>
			- 온누리팀: 온누리과정 계획 및 운영<br/><br/>

			(3) 중점사역<br/>
			- 교사관리: 교사대학 운영, 교사기도회, 교사위로회<br/>
			- 일관성 있는 교육 방향 수립<br/>
			- 2세를 위한 교육 방향 수립<br/><br/>

		</p>
		<br/>

	</div>
</div>
{% endblock %}