{% extends "posts.html" %}


{% block searchbar %}

{% endblock %}

{% block post_block %}

<div>
	<div class="row">
		<div class="col-xs-8 col-sm-6">
			<form method="GET" action='' class='form-inline'>				
				<input type='text' class="form-control" name='q' placeholder='Search Posts' value='{{request.GET.q}}'/>
				<input type='submit' value='Search' class="btn btn-warning" role="button"/>			
			</form>
		</div>
		<div class="col-xs-4 col-sm-6">
			<p><a href="{% url 'posts:create' %}" class="btn btn-warning pull-right" role="button">APPLY</a> </p>
		</div>
	</div>
	<br/>
	

	{% for obj in object_list %}

	<div class="row">
	  <!-- <div class="col-sm-6"> -->
	    <div class="thumbnail">
	      {% if obj.image %}
	      <img src='{{ obj.image.url }}' class='img-responsive'/>
	      {% endif %}
	      <div class="caption">
	        <h3><a href ='{{ obj.get_absolute_url }}' class="text-color-orange text-color-orange:hover">{{ obj.title }}</a> <small>{{ obj.timestamp }}</small></h3>
	        {% if obj.user.get_full_name %} <p>Author: {{ obj.user.get_full_name }}</p> {% endif %}
	        <p> {{ obj.content|linebreaks|truncatechars:120 }} </p>
	        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-warning" role="button">View</a> </p>
	      </div>
	    </div>
	  <!-- </div> -->
	</div>
	<hr/>


	{% endfor %}

	<div class="pagination">
	    <span class="step-links">
	        {% if object_list.has_previous %}
	            <a href="?{{page_request_var}}={{ object_list.previous_page_number }}{%if request.GET.q%}&q={{ request.GET.q }}{%endif%}" class="text-color-orange text-color-orange:hover">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
	        </span>

	        {% if object_list.has_next %}
	            <a href="?{{page_request_var}}={{ object_list.next_page_number }}{%if request.GET.q%}&q={{ request.GET.q }}{%endif%}" class="text-color-orange text-color-orange:hover">next</a>
	        {% endif %}
	    </span>
	</div>
</div>
{% endblock post_block %}