{% extends "posts.html" %}
{% load urlify %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block post_block %}

	
	<h1>{{title}}&nbsp;&nbsp;&nbsp;&nbsp;<small> 
	
	{% if instance.user.get_full_name %}
	Author: {{ instance.user.get_full_name }}
	{% else %}
	Author: {{ instance.user.get_username }}
	{% endif %}
	</small>

	<p class='pull-right'>
	<a href="{{ instance.get_edit_url }}" class="btn btn-warning" role="button">Edit</a>
	<a href="{{ instance.get_delete_url }}" class="btn btn-danger" role="button">Delete</a> 
	</p>
	</h1>


	{% if instance.image %}
	<p><img src='{{ instance.image.url }}' class='img-responsive'/></p>
	{% endif %}

	{% if instance.image2 %}
	<p><img src='{{ instance.image2.url }}' class='img-responsive'/></p>
	{% endif %}

	{% if instance.image3 %}
	<p><img src='{{ instance.image3.url }}' class='img-responsive'/></p>
	{% endif %}

	{% if instance.image4 %}
	<p><img src='{{ instance.image4.url }}' class='img-responsive'/></p>
	{% endif %}

	{% if instance.image5 %}
	<p><img src='{{ instance.image5.url }}' class='img-responsive'/></p>
	{% endif %}	


	{{ instance.content|linebreaks }} <br/>
	
	<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div></p>
	<p><div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div></p>


<!-- {{ request.build_absolute_uri }}
{{ share_string }}
{{ instance.content|truncatechars:20|urlify }} -->

<!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a> -->

<!-- <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>

<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{instance.title}}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>


<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a> -->

{% endblock post_block %}