{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %} 섬기는 이 | {{ block.super }} {% endblock %}

{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'welcome_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9">
		<p>
			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/welcome/ryu.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						담임  <br/>
						류 문현 목사<br/>
						<div class="line-separator"></div>
						galilee_pastor@hotmail.com <br/>
					</p>
				</div>


				<div class="col-sm-6"> 
		
				</div>
			</div>
			<br/>

			<div class="row">


				<div class="col-sm-6"> 
					<img src="{% static 'img/welcome/priest_hwang.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						청년 담당  <br/>
						황 신 목사<br/>
						<div class="line-separator"></div>
						bassist1978@gmail.com <br/>
					</p>
				</div>

				<div class="col-sm-6"> 
					<img src="{% static 'img/welcome/priest_kim.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						청소년 담당  <br/>
						김 광식 목사<br/>
						<div class="line-separator"></div>
						galileekks@gmail.com  <br/>
					</p>
				</div>

		

			</div>
			<br/>
			
			<div class="row">
				
				<div class="col-sm-6"> 
					<img src="{% static 'img/welcome/jun_moon.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						아동 담당  <br/>
						문 재은 전도사<br/>
						<div class="line-separator"></div>
						jaeeunmoon@gmail.com <br/>
					</p>
				</div>



				<div class="col-sm-6"> 
					<img src="{% static 'img/welcome/jun_kim.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						영유아 담당  <br/>
						김 용희 전도사<br/>
						<div class="line-separator"></div>
						galileekyh@gmail.com <br/>
					</p>
				</div>

			

			</div>

			<br/>
			
			<h4> 장로 </h4>
			<div class="line-separator"></div>
			<br/>

			<div class="row">
				
				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/jang_nam.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						남 충현 장로<br/>
						<div class="line-separator"></div>
						
					</p>
				</div>



				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/jang_choi.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						최 현범 장로<br/>
						<div class="line-separator"></div>
					</p>
				</div>

				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/jang_heo.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						허 용범 장로<br/>
						<div class="line-separator"></div>
					</p>
				</div>
			

				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/jang_hwang.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						황 대근 장로<br/>
						<div class="line-separator"></div>
					</p>
				</div>

			</div>

			<br/>
			
			<h4> 안수집사 </h4>
			<div class="line-separator"></div>
			<br/>

			<div class="row">
				
				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/an_kim_y.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						김 영원 안수집사<br/>
						<div class="line-separator"></div>
						
					</p>
				</div>



				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/an_kim_g.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						김 정기 안수집사<br/>
						<div class="line-separator"></div>
					</p>
				</div>

				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/an_kim_j.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						김 종욱 안수집사<br/>
						<div class="line-separator"></div>
					</p>
				</div>
			

				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/an_jang.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						장 중혁 안수집사<br/>
						<div class="line-separator"></div>
					</p>
				</div>

			</div>


			<br/>

			
			
			<h4> 권사 </h4>
			<div class="line-separator"></div>
			<br/>

			<div class="row">
				
				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/kwon_kim.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						김 윤희 권사<br/>
						<div class="line-separator"></div>
						
					</p>
				</div>



				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/kwon_na.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						나 인경 권사<br/>
						<div class="line-separator"></div>
					</p>
				</div>

				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/kwon_nam.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						남 애경 권사  <br/>
						<div class="line-separator"></div>
					</p>
				</div>
			

				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/kwon_jeong.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						정 영혜 권사<br/>
						<div class="line-separator"></div>
					</p>
				</div>

			</div>

			<br/>

			<div class="row">
				
				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/kwon_chun.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						천 성미 권사<br/>
						<div class="line-separator"></div>
						
					</p>
				</div>



				<div class="col-sm-3"> 
					<img src="{% static 'img/welcome/kwon_hong.jpg' %}" class="img_row"/>
					<br/>
					<p>
						<br/>
						홍 현승 권사<br/>
						<div class="line-separator"></div>
					</p>
				</div>

			</div>






		</p>
	</div>
</div>
{% endblock %}
