{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %} 오시는 길 | {{ block.super }} {% endblock %}

{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'welcome_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9" >
		
		
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.7616546811337!2d-123.13187302130139!3d49.28091337740559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486722b388f1ec3%3A0x32475f5878197097!2sGalilee+Korean+Presbyterian+Church!5e0!3m2!1sen!2sca!4v1537593162167" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

		<br/>

		<p>
		왼쪽 상단의 "길찾기" 누르시면 Google Maps 앱으로 자동으로 이동합니다.
		</p>
	</div>
</div>
{% endblock %}