{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %} 섬기는 이 | {{ block.super }} {% endblock %}

{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'welcome_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9">
		<p>
			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/welcome/ryu.jpg' %}" class="img_square"/>
					<br/>
					<p>
						<br/>
						담임 목사 <br/>
						류문현 <br/>
						<div class="line-separator"></div>
						galilee_pastor@hotmail.com <br/>
					</p>
				</div>


				<div class="col-sm-6"> 
					<img src="{% static 'img/welcome/hwang.jpg' %}" class="img_square"/>
					<br/>
					<p>
						<br/>
						청년부 목사 <br/>
						황 신 <br/>
						<div class="line-separator"></div>
						bassist1978@gmail.com <br/>
					</p>
				</div>
			</div>
			<br/>

			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/welcome/kim1.jpg' %}" class="img_square"/>
					<br/>
					<p>
						<br/>
						청소년부 목사 <br/>
						김광식 <br/>
						<div class="line-separator"></div>
						galileekks@gmail.com  <br/>
					</p>
				</div>

				<div class="col-sm-6"> 
					<img src="{% static 'img/welcome/moon.jpg' %}" class="img_square"/>
					<br/>
					<p>
						<br/>
						아동부 전도사 <br/>
						문재은 <br/>
						<div class="line-separator"></div>
						jaeeunmoon@gmail.com <br/>
					</p>
				</div>


			</div>
			<br/>
			
			<div class="row">
				<div class="col-sm-6"> 
					<img src="{% static 'img/welcome/kim2.jpg' %}" class="img_square"/>
					<br/>
					<p>
						<br/>
						영유아부 전도사 <br/>
						김용희 <br/>
						<div class="line-separator"></div>
						galileekyh@gmail.com <br/>
					</p>
				</div>

			

			</div>


		</p>
	</div>
</div>
{% endblock %}
