{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %} 연락처 | {{ block.super }} {% endblock %}

{% block content_a %}
<div class="row">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		{% include 'welcome_sidebar.html' %}
	</div>

	<div class="col-xs-12 col-sm-9">
		<p>
			<img src="{% static 'img/welcome/contact_us.jpg' %}" class="img_row" />
			<div class="line-separator"></div>
			갈릴리 교회 <br/>
			1155 Thurlow Street, Vancouver, BC. V6E 1X2, Canada <br/>
			Tel: 604.657.3937 <br/>
			Email: galilee_pastor@hotmail.com <br/>
		</p>
		
	</div>
</div>
{% endblock %}