{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %} 섬기는 이 | {{ block.super }} {% endblock %}

{% block content_a %}
<div class="row">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        {% include 'welcome_sidebar.html' %}
    </div>

    <div class="col-xs-12 col-sm-9">
        <p>
            <div class="row">
                <div class="col-sm-6">
                    <img class="img_row" src="{% static 'img/welcome/ryu.jpg' %}"/>
                    <br/>
        <p>
            <br/>
            담임 목사 <br/>
            류 문현 목사<br/>
        <div class="line-separator"></div>
        galilee_pastor@hotmail.com <br/>
        </p>
    </div>


    <div class="col-sm-6">

    </div>
</div>
<br/>

<div class="row">


    <div class="col-sm-6">
        <img class="img_row" src="{% static 'img/welcome/priest_hwang.jpg' %}"/>
        <br/>
        <p>
            <br/>
            부목사 <br/>
            황 신 목사 <br/>
        <div class="line-separator"></div>
        bassist1978@gmail.com <br/>
        </p>
    </div>

    <div class="col-sm-6">
        <img class="img_row" src="{% static 'img/welcome/priest_kim_01.jpg' %}"/>
        <br/>
        <p>
            <br/>
            <br/>
            김 광식 목사 (유스, 선교)<br/>
        <div class="line-separator"></div>
        galileekks@gmail.com <br/>
        </p>
    </div>


</div>
<br/>

<div class="row">

    <div class="col-sm-6">
        <img class="img_row" src="{% static 'img/welcome/apriest_lee.jpg' %}"/>
        <br/>
        <p>
            <br/>
            이세호 목사 (청년)<br/>
        <div class="line-separator"></div>
         <br/>
        </p>
    </div>

    <div class="col-sm-6">
        <img class="img_row" src="{% static 'img/welcome/jun_moon.jpg' %}"/>
        <br/>
        <p>
            <br/>
            교육전도사 문재은 전도사 (아동) <br/>
        <div class="line-separator"></div>
        jaeeunmoon@gmail.com <br/>
        </p>
    </div>


</div>
<br/>

<div class="row">

    <div class="col-sm-6">
        <img class="img_row" src="{% static 'img/welcome/jun_kim.jpg' %}"/>
        <br/>
        <p>
            <br/>
            교육전도사 김용희 전도사 (영유아)<br/>
        <div class="line-separator"></div>
        galileekyh@gmail.com <br/>
        </p>
    </div>

    <div class="col-sm-6">
        <img class="img_row" src="{% static 'img/welcome/apriest_kim.jpg' %}"/>
        <br/>
        <p>
            <br/>
            협동목사 김 성주 목사 <br/>
            <br/>
        <div class="line-separator"></div>
        <br/>
        </p>
    </div>

</div>
<br/>


<h4> 장로 </h4>
<div class="line-separator"></div>
<br/>

<div class="row">

    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/jang_nam.jpg' %}"/>
        <br/>
        <p>
            <br/>
            남 충현 장로<br/>
        <div class="line-separator"></div>

        </p>
    </div>


    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/jang_choi.jpg' %}"/>
        <br/>
        <p>
            <br/>
            최 현범 장로<br/>
        <div class="line-separator"></div>
        </p>
    </div>

    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/jang_heo.jpg' %}"/>
        <br/>
        <p>
            <br/>
            허 용범 장로<br/>
        <div class="line-separator"></div>
        </p>
    </div>


    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/jang_hwang.jpg' %}"/>
        <br/>
        <p>
            <br/>
            황 대근 장로<br/>
        <div class="line-separator"></div>
        </p>
    </div>

</div>

<br/>

<h4> 안수집사 </h4>
<div class="line-separator"></div>
<br/>

<div class="row">

    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/an_kim_y_.jpg' %}"/>
        <br/>
        <p>
            <br/>
            김 영원 안수집사<br/>
        <div class="line-separator"></div>

        </p>
    </div>


    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/an_kim_g.jpg' %}"/>
        <br/>
        <p>
            <br/>
            김 정기 안수집사<br/>
        <div class="line-separator"></div>
        </p>
    </div>

    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/an_kim_j.jpg' %}"/>
        <br/>
        <p>
            <br/>
            김 종욱 안수집사<br/>
        <div class="line-separator"></div>
        </p>
    </div>


    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/an_jang.jpg' %}"/>
        <br/>
        <p>
            <br/>
            장 중혁 안수집사<br/>
        <div class="line-separator"></div>
        </p>
    </div>

</div>

<div class="row">
    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/an_kim_y.jpg' %}"/>
        <br/>
        <p>
            <br/>
            김 진호 안수집사<br/>
        <div class="line-separator"></div>

        </p>
    </div>


    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/an_kim_y.jpg' %}"/>
        <br/>
        <p>
            <br/>
            김 현용 안수집사<br/>
        <div class="line-separator"></div>
        </p>
    </div>

    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/an_kim_y.jpg' %}"/>
        <br/>
        <p>
            <br/>
            송 성 안수집사<br/>
        <div class="line-separator"></div>
        </p>
    </div>
</div>

<br/>


<h4> 권사 </h4>
<div class="line-separator"></div>
<br/>

<div class="row">

    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/kwon_kim.jpg' %}"/>
        <br/>
        <p>
            <br/>
            김 윤희 권사<br/>
        <div class="line-separator"></div>

        </p>
    </div>


    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/kwon_na.jpg' %}"/>
        <br/>
        <p>
            <br/>
            나 인경 권사<br/>
        <div class="line-separator"></div>
        </p>
    </div>

    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/kwon_nam_01.jpg' %}"/>
        <br/>
        <p>
            <br/>
            남 애경 권사 <br/>
        <div class="line-separator"></div>
        </p>
    </div>


    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/kwon_jeong.jpg' %}"/>
        <br/>
        <p>
            <br/>
            정 영혜 권사<br/>
        <div class="line-separator"></div>
        </p>
    </div>

</div>

<br/>

<div class="row">

    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/kwon_chun.jpg' %}"/>
        <br/>
        <p>
            <br/>
            천 성미 권사<br/>
        <div class="line-separator"></div>

        </p>
    </div>


    <div class="col-sm-3">
        <img class="img_row" src="{% static 'img/welcome/kwon_hong.jpg' %}"/>
        <br/>
        <p>
            <br/>
            홍 현승 권사<br/>
        <div class="line-separator"></div>
        </p>
    </div>

</div>


</p>
</div>
</div>
{% endblock %}
